.co-home__content {
    position: relative;
}

.co-container__logo-image {
    padding-top: 40px;
    height: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.co-home-container .co-container__paragraph {
    margin-top: 20px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}