.co-home-container {
    background-color: #1C8DCF;
    color: white;
    height: 100%;
}

.co-home-container__logo-image {
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.co-home-container__paragraph{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    padding: 10px 40px 0px 40px;
    text-align: center;
}

.co-home-container__carousel {
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

.BrainhubCarouselItem--active img {
    border: white solid 2px;
}