.navigation-item {
    position: relative;
}

.navigation-item--back {
    position: absolute;
    z-index: 100;
    left: 310px;
    top: 354px;
}

.co-navigation-item__wrapper {
    position: relative;
    height: 75px;
    width: 360px;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 2px solid #fff;
}

.co-navigation-header__wrapper {
    position: relative;
    height: 478px;
    width: 360px;
    background-image: url("../assets/nav/nav-header2.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.co-navigation-header__image {
    top: 20px;
    position: relative;
    height: 55px;
}

.co-navigation-item__image {
    position: absolute;
    height: 35px;
    right: 8px;
    top: 18px;
    color: red;
}

.co-navigation-item__title {
    position: absolute;
    top: 24px;
    left: 120px;
    color: #fff;
}

.co-navigation-item__bg-nav-1 {
    background-image: url("../assets/nav/nav-1.png");
}

.co-navigation-item__bg-nav-2 {
    background-image: url("../assets/nav/nav-22.png");
}

.co-navigation-item__bg-nav-3 {
    background-image: url("../assets/nav/nav-3.png");
}

.co-navigation-item__bg-nav-4 {
    background-image: url("../assets/nav/nav-4.png");
}

.co-navigation-item__bg-nav-5 {
    background-image: url("../assets/nav/nav-5.png");
}

.co-navigation-item__bg-nav-6 {
    background-image: url("../assets/nav/nav-6.png");
}

.co-navigation-item__bg-nav-7 {
    background-image: url("../assets/nav/nav-7.png");
}

.co-navigation-item__bg-nav-8 {
    background-image: url("../assets/nav/nav-8.png");
}

.orthopedic-liecba_autolognymi_proteinmi {
    background-image: url("../assets/co-orthopedic/liecba_autolognymi_proteinmi.jpg");
}

.orthopedic-detsky_ultrazvuk {
    background-image: url("../assets/co-orthopedic/detsky_ultrazvuk.jpg");
}

.orthopedic-ortopedicke_vysetrenia {
    background-image: url("../assets/co-orthopedic/ortopedicke_vysetrenia2.png");
}

.orthopedic-plazmoterapia,
.rehab-plazmoterapia {
    background-image: url("../assets/co-orthopedic/plazmoterapia.jpg");
}

.orthopedic-razove_vlny {
    background-image: url("../assets/co-orthopedic/razove_vlny.jpg");
}

.orthopedic-biostimulacny_laser {
    background-image: url("../assets/co-orthopedic/biostimulacny_laser.jpg");
}

.orthopedic-kolagenove_injekcie {
    background-image: url("../assets/co-orthopedic/kolagenove_injekcie.jpg");
}

.orthopedic-ortopedicke_konzultacie {
    background-image: url("../assets/co-orthopedic/ortopedicke_konzultacie2.png");
}

.fyzio-vykonny_indukcny_system,
.rehab-vykonny_indukcny_system {
    background-image: url("../assets/co-fyzio/vykonny_indukcny_system.jpg");
}

.fyzio-laser_12,
.rehab-laser_12  {
    background-image: url("../assets/co-fyzio/laser_12.jpg");
}

.fyzio-tr_therapy,
.rehab-tr_therapy  {
    background-image: url("../assets/co-fyzio/tr_therapy.jpg");
}

.fyzio-makke_techniky {
    background-image: url("../assets/co-fyzio/makke_techniky.jpg");
}

.fyzio-sm_system,
.rehab-sm_system {
    background-image: url("../assets/co-fyzio/sm_system.jpg");
}

.fyzio-trx {
    background-image: url("../assets/co-fyzio/trx.jpg");
}

.fyzio-kineziotaping {
    background-image: url("../assets/co-fyzio/kineziotaping.jpg");
}

.fyzio-individualne_cvicenia {
    background-image: url("../assets/co-fyzio/individualne_cvicenia.jpg");
}

.fyzio-skupinove_cvicenia {
    background-image: url("../assets/co-fyzio/skupinove_cvicenia.jpg");
}

.fyzio-motodlaha {
    background-image: url("../assets/co-fyzio/motodlaha.jpg");
}

.denzito-denzitometricke_vysetrenie {
    background-image: url("../assets/co-denzito/denzitometricke_vysetrenie.jpg");
}