.co-content-container {
    height: 100%;
}

.co-home-container,
.co-patient-container {
    background-color: #1C8DCF;
}

.co-orthopedic-container,
.co-component-menu-item__title-wrapper-orthopedic {
    background-color: #6DBE4B;
}

.co-fyzio-container,
.co-component-menu-item__title-wrapper-fyzio  {
    background-color: #E1BE00;
}

.co-rehab-container,
.co-component-menu-item__title-wrapper-rehab {
    background-color: #F58221;
}

.co-denzito-container,
.co-component-menu-item__title-wrapper-denzito {
    background-color: #97467F;
}

.co-gallery-container {
    background-color: #E75554;
}

.co-fees-container {
    background-color: #088789;
}

.co-contact-container {
    /* background-color: #9B9B9B; */
    background-color: #fff
}


.co-container__logo-image {
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.co-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}

.co-left {
    margin-left: auto;
    margin-right: auto;
    text-align: left; 
}

.co-container__header {
    display: block;
    font-size: 36px;
    padding: 60px 40px 0px 40px;
    text-transform: uppercase;
    font-family: 'AvenirBold';
}

.co-container__paragraphs {
    width: 1200px;
}

.co-container__paragraph{
    display: block;
    font-size: 18px;
    padding: 20px 40px 10px 40px;
}

.co-container__paragraph-narrow{
    display: block;
    font-size: 18px;
    padding: 5px 40px 5px 40px;
}

.co-container__carousel {
    padding-top: 50px;
    max-width: 1400px;
}

.co-container-menu {
    padding-top: 15px;
    width: 1400px;
}

.co-component-menu-item__wrapper {
    position: relative;
    display: inline-block;
    margin: 15px 15px 15px 15px;
    font-size: 18px;
    width: 300px;
    height: 207px;
    border: 2px solid #fff;
}

.co-component-menu-item__title-wrapper {
    position: absolute;
    height: 50px;
    width: 296px;
    opacity: 0.9;
    bottom: 0px;
}

.co-component-menu-item__title {
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.co-component-menu-item__arrow-image {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 30px;
}

.co-container__section-header {	
    display: block;	
    font-size: 28px;	
    padding: 60px 40px 0px 40px;	
    text-transform: uppercase;	
    font-family: 'AvenirBold';	
}

.co-container__tabs {	
    width: 1400px;	
}