body {
  margin: 0;
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Avenir.ttc');
}

@font-face {
  font-family: 'AvenirBold';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/AvenirNext.ttc');
}

.app-container {
  display: grid;
  grid-template-areas:
    "side main";
  /* grid-template-rows: 7fr 1fr; */
  /* grid-template-columns: 1fr 5fr; */
  grid-template-columns: 360px auto;
  grid-row-gap: 0;
  grid-column-gap: 0;
  height: 100vh;
  margin: 0;
  font-size: calc(16px + 0.5vw);
  background-color: #fff;
  color: #444;
}

.main-container {
  grid-area: main;
  background-color: #1C8DCF;
  min-width: 0;
  border-left: 2px solid #ffffff;
  color: white;
  font-family: 'Avenir';
}

.side-container {
  grid-area: side;
  background-color: #444;
  grid-template-rows: 478px repeat(8, 75px);
  display: grid;
  font-family: 'Avenir';
  font-size: 26px;
}

p {
  margin: 0px;
}