body {
  margin: 0;
}

.app-container {
  display: grid;
  grid-template-areas:
    "main"
    "navi";
  grid-template-rows: 6fr 1fr;
  grid-row-gap: 0;
  grid-column-gap: 0;
  height: 100vh;
  margin: 0;
  font-size: calc(16px + 0.5vw);
  background-color: #fff;
  color: #444;
}

.main-container {
  grid-area: main;
  background-color: #8ca0ff;
}

.navigation-container {
  grid-area: navi;
  background-color: #ffa08c;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.navigation-container .nav {
  border: 1px solid #fff;
  background-color: #ffa000;
}